<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MongoConnection" connectionString="mongodb://localhost:27017/MyAssessmentDB" />
  </connectionStrings>
  
  <appSettings>
    <add key="DatabaseName" value="MyAssessmentDB" />
    <!-- Default Teacher Info untuk Ekspor (fallback jika MongoDB tidak tersedia) -->
    <add key="DefaultTeacherName" value="Nama Guru" />
    <add key="DefaultTeacherNIP" value="000000000000" />
    <add key="DefaultSchoolName" value="SMA Negeri 1" />
    <add key="DefaultPrincipalName" value="Nama Kepala Sekolah" />
    <add key="DefaultAcademicYear" value="2025/2026" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages enableViewState="false" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>