<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MongoConnection" connectionString="mongodb://localhost:27017/MyAssessmentDB" />
  </connectionStrings>
  
  <appSettings>
    <add key="DatabaseName" value="MyAssessmentDB" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages enableViewState="false" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>